.myButton {
    background: rgb(93, 255, 255);
    font-weight: bold;
    font-size: 2rem;
    padding: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    width: 15rem;
    text-align: center;

    &:hover {
        background: rgb(255, 91, 91);
    }
}

.red {
    background: rgb(238, 72, 72);

    &:hover {
        background: rgb(91, 255, 206);
    }
}
.yellow {
    background: rgb(227, 238, 72);

    &:hover {
        background: rgb(168, 91, 255);
    }
}
.blue {
    background: rgb(72, 144, 238);

    &:hover {
        background: rgb(36, 90, 160);
    }
}